<nav class="nav">
    <h1><a routerLink="/">E-COMM</a></h1>
    <div *ngIf="menuType === 'default'||'user'" class="nav-search">
        <input #searchInput type="text" (keyup)="searchProduct($event)" placeholder="search for products" />
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="serachResult.length > 0">
            <li *ngFor="let item of serachResult ">
                <a (click)="clickSerach(item.id)">{{item.product_name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li>
                <a routerLink="seller-auth">Seller</a>
            </li>
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/user-auth">Login/signup</a>
            </li>
            <li>
                <a href="#">Cart({{cartItem}})</a>
            </li>
        </ul>

        <ul *ngSwitchCase="'seller'">
            <li>
                <a routerLink="seller-add-product">Add Product</a>
            </li>
            <li>
                <a routerLink="seller-home"> List</a>
            </li>
            <li>
                <a (click)="logout('seller')">Logout</a>
            </li>
            <li>
                <a routerLink="/">{{sellerName == ''? "Seller Name": sellerName | titlecase }}</a>
            </li>
        </ul>

        <ul *ngSwitchCase="'user'">
            <li>
                <a routerLink="seller-auth">Seller</a>
            </li>
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="">{{userName}}</a>
            </li>
            <li>
                <a (click)="logout('user')">Logout</a>
            </li>
            <li>
                <a href="#">Cart({{cartItem}})</a>
            </li>
        </ul>
    </div>
</nav>