.signup{
    margin-bottom: 50px;
    margin-top: 80px;
    color : blueviolet
}

.signup h1{
  text-align: center;
}

.signup form p{
    text-align: start;
  }

.auth-toggle-link{
    margin-top: 20px;
    color: blueviolet;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
}

button:disabled{
    cursor: not-allowed;
}
