/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}

.containers{
    margin-left: 1%;
    margin-right: 1%;
}
.common-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet ;
}

.form-button{
    height: 35px;
    border: 1px solid blueviolet ;
    color: blueviolet;
    cursor: pointer;
}

.p_message{
    color: green;
    margin: 3px;
}

.carousel-caption {
    background-color: #4e4646c9;
}

.carousel-control-next-icon,  .carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
}

.errorLogin{
    color: red;
    margin-bottom: 10px;
    font-size: 16px;
   
}