<ngb-carousel *ngIf="popularProductData.length > 0">
	<ng-template ngbSlide *ngFor="let item of popularProductData" >
		<div class="picsum-img-wrapper">
            <a routerLink="/details/{{item.id}}"> 
                <img class="product_img_container" [src]="item.product_url" alt="Random first slide" />
            </a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.product_name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
    <h1> Trendy product</h1>
    <div class="row mt-2">
        <div class="col col-lg-3 col-md-4 col-sm-6" *ngFor="let item of trendyProducts">
            <div class="product-item">
                <a routerLink="/details/{{item.id}}"> <img [src]="item.product_url" alt="trendy product image"></a>
                <div class="product-details">
                    <a routerLink="/details/{{item.id}}">  <h6 class="name-head"> {{item.product_name}}</h6> </a>
                    <div class="product-price">
                        <h6>Price: {{item.product_price}}</h6>
                    </div>
    
                    <div class="product-color">
                        <h6>color: {{item.product_color}}</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a routerLink="/details/{{item.id}}">View Details</a>
                    <a href="">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>